/* */
C32 { 
    color: #fff; 
}

/* !
C33 { 
    color: #fff; 
} 

/* " */
C34 { 
    color: #fff; 
}

/* # */
C35 { 
    color: #fff; 
} 

/* $ */
C36 { 
    color: #fff; 
} 

/* % */
C37 { 
    color: #fff; 
} 

/* & */
C38 { 
    color: #fff; 
} 

/* ' */
C39 { 
    color: #fff; 
} 

/* ( */
C40 { 
    color: #fff; 
} 

/* ) */
C41 { 
    color: #fff; 
} 

/* * */
C42 { 
    color: #fff; 
} 

/* + */
C43 { 
    color: #fff; 
} 

/* , */
C44 { 
    color: #fff; 
} 

/* - */
C45 { 
    color: #fff; 
} 

/* . */
C46 { 
    color: #fff; 
} 

/* / */
C47 { 
    color: #fff; 
} 

/* 0 */
C48 { 
    color: #fff; 
} 


W48 { 
    background-color: #fff; 
} 

/* 1 */
C49 { 
    color: #fff; 
} 


W49 { 
    background-color: #fff; 
} 

/* 2 */
C50 { 
    color: #fff; 
} 


W50 { 
    background-color: #fff; 
} 

/* 3 */
C51 { 
    color: #fff; 
} 


W51 { 
    background-color: #fff; 
} 

/* 4 */
C52 { 
    color: #fff; 
} 


W52 { 
    background-color: #fff; 
} 

/* 5 */
C53 { 
    color: #fff; 
} 


W53 { 
    background-color: #fff; 
} 

/* 6 */
C54 { 
    color: #fff; 
} 


W54 { 
    background-color: #fff; 
} 

/* 7 */
C55 { 
    color: #fff; 
} 


W55 { 
    background-color: #fff; 
} 

/* 8 */
C56 { 
    color: #fff; 
} 


W56 { 
    background-color: #fff; 
} 

/* 9 */
C57 { 
    color: #fff; 
} 


W57 { 
    background-color: #fff; 
} 

/* : */
C58 { 
    color: #fff; 
} 

/* ; */
C59 { 
    color: #fff; 
} 

/* < */
C60 { 
    color: #fff; 
} 

/* = */
C61 { 
    color: #fff; 
} 

/* > */
C62 { 
    color: #fff; 
} 

/* ? */
C63 { 
    color: #fff; 
} 

/* @ */
C64 { 
    color: #fff; 
} 


/* Removed Uppercase */


/* [ */
C91 { 
    color: #fff; 
} 

/* \ */
C92 { 
    color: #fff; 
} 

/* ] */
C93 { 
    color: #fff; 
} 

/* ^ */
C94 { 
    color: #fff; 
} 

/* _ */
C95 { 
    color: #fff; 
} 

/* ` */
C96 { 
    color: #fff; 
} 

/* a */
C97 { 
    color: #f00;
} 


W97 { 
    background-color: #fff; 
} 

/* b */
C98 { 
    color: #fff; 
} 


W98 { 
    background-color: #fff; 
} 

/* c */
C99 { 
    color: #fff; 
} 


W99 { 
    background-color: #fff; 
} 

/* d */
C100 { 
    color: #fff; 
} 


W100 { 
    background-color: #fff; 
} 

/* e */
C101 { 
    color: #fff; 
} 


W101 { 
    background-color: #fff; 
} 

/* f */
C102 { 
    color: #fff; 
} 


W102 { 
    background-color: #fff; 
} 

/* g */
C103 { 
    color: #fff; 
} 


W103 { 
    background-color: #fff; 
} 

/* h */
C104 { 
    color: #fff; 
} 


W104 { 
    background-color: #fff; 
} 

/* i */
C105 { 
    color: #fff; 
} 


W105 { 
    background-color: #fff; 
} 

/* j */
C106 { 
    color: #fff; 
} 


W106 { 
    background-color: #fff; 
} 

/* k */
C107 { 
    color: #fff; 
} 


W107 { 
    background-color: #fff; 
} 

/* l */
C108 { 
    color: #fff; 
} 


W108 { 
    background-color: #fff; 
} 

/* m */
C109 { 
    color: #fff; 
} 


W109 { 
    background-color: #fff; 
} 

/* n */
C110 { 
    color: #fff; 
} 


W110 { 
    background-color: #fff; 
} 

/* o */
C111 { 
    color: #fff; 
} 


W111 { 
    background-color: #fff; 
} 

/* p */
C112 { 
    color: #fff; 
} 


W112 { 
    background-color: #fff; 
} 

/* q */
C113 { 
    color: #fff; 
} 


W113 { 
    background-color: #fff; 
} 

/* r */
C114 { 
    color: #fff; 
} 


W114 { 
    background-color: #fff; 
} 

/* s */
C115 { 
    color: #fff; 
} 


W115 { 
    background-color: #fff; 
} 

/* t */
C116 { 
    color: #fff; 
} 


W116 { 
    background-color: #fff; 
} 

/* u */
C117 { 
    color: #fff; 
} 


W117 { 
    background-color: #fff; 
} 

/* v */
C118 { 
    color: #fff; 
} 


W118 { 
    background-color: #fff; 
} 

/* w */
C119 { 
    color: #fff; 
} 


W119 { 
    background-color: #fff; 
} 

/* x */
C120 { 
    color: #fff; 
} 


W120 { 
    background-color: #fff; 
} 

/* y */
C121 { 
    color: #fff; 
} 


W121 { 
    background-color: #fff; 
} 

/* z */
C122 { 
    color: #fff; 
} 


W122 { 
    background-color: #fff; 
} 

/* { */
C123 { 
    color: #fff; 
} 

/* | */
C124 { 
    color: #fff; 
} 

/* } */
C125 { 
    color: #fff; 
} 

/* ~ */
C126 { 
    color: #fff; 
} 
