/* */
.C32 { 
    /* INSERT COLOR */ 
}

/* ! */
.C33 { 
    /* INSERT COLOR */ 
} 

/* " */
.C34 { 
    /* INSERT COLOR */ 
}

/* # */
.C35 { 
    /* INSERT COLOR */ 
} 

/* $ */
.C36 { 
    /* INSERT COLOR */ 
} 

/* % */
.C37 { 
    /* INSERT COLOR */ 
} 

/* & */
.C38 { 
    /* INSERT COLOR */ 
} 

/* ' */
.C39 { 
    /* INSERT COLOR */ 
} 

/* ( */
.C40 { 
    /* INSERT COLOR */ 
} 

/* ) */
.C41 { 
    /* INSERT COLOR */ 
} 

/* * */
.C42 { 
    /* INSERT COLOR */ 
} 

/* + */
.C43 { 
    /* INSERT COLOR */ 
} 

/* , */
.C44 { 
    /* INSERT COLOR */ 
} 

/* - */
.C45 { 
    /* INSERT COLOR */ 
} 

/* . */
.C46 { 
    /* INSERT COLOR */ 
} 

/* / */
.C47 { 
    /* INSERT COLOR */ 
}


/* 0 */
.C48 { 
    color: maroon;
} 


.W48 { 
    background-color: #fff; 
} 

/* 1 */
.C49 { 
    color: gray;
} 


.W49 { 
    background-color: #fff; 
} 

/* 2 */
.C50 { 
    color: cyan;
} 


.W50 { 
    background-color: #fff; 
}

/* 3 */
.C51 { 
    color: green;
} 


.W51 { 
    background-color: #fff; 
} 

/* 4 */
.C52 { 
    color: yellow;
} 


.W52 { 
    background-color: #fff; 
} 

/* 5 */
.C53 { 
    color: blue;
} 


.W53 { 
    background-color: #fff; 
} 

/* 6 */
.C54 { 
    color: pink;
} 


.W54 { 
    background-color: #fff; 
} 

/* 7 */
.C55 { 
    color: violet;
} 


.W55 { 
    background-color: #fff; 
}

/* 8 */
.C56 { 
    color: orange;
} 


.W56 { 
    background-color: #fff; 
} 

/* 9 */
.C57 { 
    color: red;
} 


.W57 { 
    background-color: #fff; 
} 

/* : */
.C58 { 
    /* INSERT COLOR */ 
} 

/* ; */
.C59 { 
    /* INSERT COLOR */ 
} 

/* < */
.C60 { 
    /* INSERT COLOR */ 
} 

/* = */
.C61 { 
    /* INSERT COLOR */ 
} 

/* > */
.C62 { 
    /* INSERT COLOR */ 
} 

/* ? */
.C63 { 
    /* INSERT COLOR */ 
} 

/* @ */
.C64 { 
    /* INSERT COLOR */ 
} 


/* Removed Uppercase */


/* [ */
.C91 { 
    /* INSERT COLOR */ 
} 

/* \ */
.C92 { 
    /* INSERT COLOR */ 
} 

/* ] */
.C93 { 
    /* INSERT COLOR */ 
} 

/* ^ */
.C94 { 
    /* INSERT COLOR */ 
} 

/* _ */
.C95 { 
    /* INSERT COLOR */ 
} 

/* ` */
.C96 { 
    /* INSERT COLOR */ 
} 

/* a */
.C97 { 
    /* color: #a00; */
} 


.W97 { 
    background-color: #fff; 
} 

/* b */
.C98 { 
    /* color: #00f; */
} 


.W98 { 
    background-color: #fff; 
} 

/* c */
.C99 { 
    /* color: #0a0; */
} 


.W99 { 
    background-color: #fff; 
} 

/* d */
.C100 { 
    /* INSERT COLOR */ 
} 


.W100 { 
    background-color: #fff; 
} 

/* e */
.C101 { 
    /* INSERT COLOR */ 
} 


.W101 { 
    background-color: #fff; 
} 

/* f */
.C102 { 
    /* INSERT COLOR */ 
} 


.W102 { 
    background-color: #fff; 
} 

/* g */
.C103 { 
    /* INSERT COLOR */ 
} 


.W103 { 
    background-color: #fff; 
} 

/* h */
.C104 { 
    /* INSERT COLOR */ 
} 


.W104 { 
    background-color: #fff; 
} 

/* i */
.C105 { 
    /* INSERT COLOR */ 
} 


.W105 { 
    background-color: #fff; 
} 

/* j */
.C106 { 
    /* INSERT COLOR */ 
} 


.W106 { 
    background-color: #fff; 
} 

/* k */
.C107 { 
    /* INSERT COLOR */ 
} 


.W107 { 
    background-color: #fff; 
} 

/* l */
.C108 { 
    /* INSERT COLOR */ 
} 


.W108 { 
    background-color: #fff; 
} 

/* m */
.C109 { 
    /* INSERT COLOR */ 
} 


.W109 { 
    background-color: #fff; 
} 

/* n */
.C110 { 
    /* INSERT COLOR */ 
} 


.W110 { 
    background-color: #fff; 
} 

/* o */
.C111 { 
    /* INSERT COLOR */ 
} 


.W111 { 
    background-color: #fff; 
} 

/* p */
.C112 { 
    /* INSERT COLOR */ 
} 


.W112 { 
    background-color: #fff; 
} 

/* q */
.C113 { 
    /* INSERT COLOR */ 
} 


.W113 { 
    background-color: #fff; 
} 

/* r */
.C114 { 
    /* INSERT COLOR */ 
} 


.W114 { 
    background-color: #fff; 
} 

/* s */
.C115 { 
    /* INSERT COLOR */ 
} 


.W115 { 
    background-color: #fff; 
} 

/* t */
.C116 { 
    /* INSERT COLOR */ 
} 


.W116 { 
    background-color: #fff; 
} 

/* u */
.C117 { 
    /* INSERT COLOR */ 
} 


.W117 { 
    background-color: #fff; 
} 

/* v */
.C118 { 
    /* INSERT COLOR */ 
} 


.W118 { 
    background-color: #fff; 
} 

/* w */
.C119 { 
    /* INSERT COLOR */ 
} 


.W119 { 
    background-color: #fff; 
} 

/* x */
.C120 { 
    /* INSERT COLOR */ 
} 


.W120 { 
    background-color: #fff; 
} 

/* y */
.C121 { 
    /* INSERT COLOR */ 
} 


.W121 { 
    background-color: #fff; 
} 

/* z */
.C122 { 
    /* INSERT COLOR */ 
} 


.W122 { 
    background-color: #fff; 
} 

/* { */
.C123 { 
    /* INSERT COLOR */ 
} 

/* | */
.C124 { 
    /* INSERT COLOR */ 
} 

/* } */
.C125 { 
    /* INSERT COLOR */ 
} 

/* ~ */
.C126 { 
    /* INSERT COLOR */ 
} 
